<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
       <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
<a class="navbar-brand" href="#">

<div class="style"><font size="14" color="blue">Instagram Clone</font></div></a>
<header>
    <div>
      <h1 class="Insta">Share your moments with the world ♬</h1>
   </div>
  </header>
</nav>

  <body>
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
    <%= link_to "Profile", user_path(current_user.id) %>
    <%= link_to "Log Out", session_path(current_user.id), method: :delete %>
    <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Log In", new_session_path %>
    <% end %>
    <%= yield %>

  </body>
</html>
